/* 
Navigation bar background color -- 03032b
Text Color (white) -- D8CFC5
Highlighted (yellow) -- EACA86
*/

@font-face {
  font-family: laSignora;
  src: url(fonts/LaSignora-DemoVersion-Regular.otf);
}

@font-face {
  font-family: bismark;
  src: url(fonts/Bismarck.otf);
}

* {
  font-family: "laSignora";
}

body {
  font-size: 1.4rem;
  height: 300vh;
  background-image: url("images/MIWACLE-BACKGROUND.png");
  background-size: cover;
}

#logo {
  width: 75px;
  height: 75px;
}

.bg-dark-blue {
  background-color: #03032b;
}

.nav-white ul li a {
  color: #d8cfc5 !important;
}

#a {
  width: 494.4px;
  height: 251.52px;
}

h1 {
  font-size: 6rem;
  font-family: "bismark";
}

.text-specialYellow {
  color: #eaca86;
}

nav {
  margin-bottom: 10vh;
}

#frame {
  width: 580.8px;
  height: 580.8px;
}

#frame + img {
  width: 448.8px;
  height: 448.8px;
}

/* PASTED LANG FROM MY TEST HTML/CSS */
.image-grid {
  display: grid;
  grid-template: 250px / 250px;
}

.image-grid img {
  width: 250px;
  height: 250px;
  grid-row: 1/2;
  grid-column: 1/2;
}

.text-color-yellow {
  color: #cf920f;
}

#item-container {
  height: 80vh;
  max-height: 80vh !important;
  overflow-y: scroll;
}

.testimage {
  height: 250px;
  width: 250px;
  grid-row: 1/2;
  grid-column: 1/2;
}

.my-grid {
  display: grid;
  grid-template: 250px/ 250px;
}

#filters {
  padding: 0.5rem 1rem;
  border: 5px solid #eaca86;
  border-radius: 15px;
  background-color: #03032b;
  color: white;
}

#filters:hover {
  background-color: black;
}
